<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="EntityName" value="new_leadtype" />
    <add key="Prefix" value="new_" />
    <add key="SalesforceExcelLocation" value="C:\Users\alber\source\Gitrepos\tonyhurtado1\SFDCtoD365ExcelWrapper\bin\Debug\fielddump-1568311071.xls" />
    <add key="DynamicsExcelLocation" value="C:\Users\alber\source\Gitrepos\tonyhurtado1\SFDCtoD365ExcelWrapper\bin\Debug\Attributes_Template.xlsx" />
    <!--  <add key="SalesforceExcelFilter" value="Label = 'Test Field 1'" /> -->
    <add key="SalesforceExcelFilter" value="Type = 'URL'" />
    <!-- <add key="SalesforceExcelFilter" value="IsCustom = 'TRUE'" />-->
  </appSettings>
</configuration>